NODE_ENV=development
PORT=3333

# Preenchido na etapa 2 (conexao com Postgres/Prisma)
DATABASE_URL=

# Preenchido na etapa 4 (autenticacao)
JWT_SECRET=

# Preenchido na etapa 5 (Pokemon TCG API)
POKEMON_TCG_API_KEY=
